### 행변환 하기
* 형변환은 문자열로 바꾸는 str(), 정수형으로 바꾸는 int(), 실수형으로 바꾸는 float()가 있다.
* 소괄호 안에 바꾸려는 값, 변수를 넣으면 된다.

In [1]:
print(int("3"))

3

In [3]:
# 정수형으로 정상적으로 변경되었음
# + 연산자로 정수형과 문자열을 연결할 수 없다고 오류 발생하였다.
print(int("3") + "입니다.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# 실수 3.5를 정수 3으로 변환
# 변환할 때 소주점은 버리는 것으로 확인
print(int(3.5))

3

In [6]:
# 문자열이 아닌 글자로 된 문자열으 정수형으로 변환할 수 있을까
print(int("삼"))

ValueError: invalid literal for int() with base 10: '삼'

* 문자열을 int()로 형변환할 떄는 오로지 숫자로 된 문자열만 사용할 수 있다.

In [11]:
# float 을 이용해서 실수로 변환
# 숫자로 된 문자열은 실수로 변환 가능하다. 
print(float("3.5"))
print(float(3))

3.5
3.0

In [12]:
# 형변환한 값을 + 연산자로 문자열과 연결가능하다.
print(str(3) + "입니다.")
print(str(3.5) + "입니다.")

3입니다.
3.5입니다.

### 데이터 자료형 확인 type()

In [13]:
print(type(3)) # 정수 int
print(type("3"))

<class 'int'>
<class 'str'>